@media screen and (max-width: 1199px) {

    .container {
        max-width: 992px;
    }

    .header__logo a img {
        width: 36px;
    }

    .common__btn {
        font-size: 14px;
    }

    .header__wrap {
        border-radius: 10px;
        padding: 8px 16px;
        border-width: 2px;
    }

    .hero__content h1 {
        font-size: 65px;
    }

    .hero__social {
        left: 10px;
        top: -58px;
        max-width: 170px;
    }

    .hero__social.social__two {
        right: 10px;
    }

    .hero__area {
        padding-bottom: 120px;
    }

    .feature__single h4 {
        font-size: 22px;
    }

    .feature__single p {
        font-size: 12px;
    }

    .feature__single img {
        max-width: 80px;
        margin-bottom: 10px;
    }

    .section__heading h2 {
        font-size: 38px;
    }

    .section__heading {
        max-width: 54%;
    }

    .about__info ul li h4 {
        font-size: 18px;
    }

    .about__info ul li p {
        font-size: 14px;
    }

    .service__card {
        padding: 10px;
    }

    .service__card img {
        max-height: 58px;
    }

    .service__card h4 {
        font-size: 17px;
    }

    .service__card .common__btn {
        font-size: 12px;
        padding: 6px 16px;
    }

    .service__sp {
        max-width: 64px;
        left: 0;
        top: 0;
    }

    .service__sp.sp2 {
        right: 0;
    }

    .service__sp.sp4 {
        right: 0;
    }

    .testimonial__main {
        width: 635px;
    }

    .contact__sp {
        max-width: 68px;
    }

    .cta__wrap h2 {
        font-size: 38px;
    }

    .cta__wrap {
        padding-inline: 100px;
    }

    .footer__bottombar span {
        font-size: 14px;
    }

    .footer__topbar p {
        font-size: 14px;
    }

    .auth__form {
        max-width: 90%;
    }



    .sidebar__menu ul li a {
        font-size: 14px;
    }

    .dashboard__sidebar {
        width: 270px;
    }

    .dashboard__wrap {
        padding-left: 290px;
    }

    .dashboard__header__subs p {
        font-size: 14px;
    }

    .dashboard__header__right {
        gap: 12px;
    }

    .dashboard__user span {
        font-size: 14px;
    }

    .post__header a {
        padding: 10px 16px;
        font-size: 14px;
    }

    .account__topbar h4 {
        font-size: 16px;
    }

    .account__table tr th {
        font-size: 14px;
    }

    .account__table tr td {
        font-size: 14px;
    }

    .table__btn {
        font-size: 12px;
    }

    .account__bottombar p {
        font-size: 14px;
    }

    .table__pagination a {
        padding: 4px 12px;
        border-radius: 5px;
        font-size: 13px;
    }

















}

@media screen and (max-width: 991px) {
    .container {
        max-width: 95%;
    }

    p {
        font-size: 14px;
    }

    .hero__content h1 {
        font-size: 50px;
    }

    .hero__area {
        padding-top: 180px;
    }

    .feature__wrap {
        gap: 10px;
    }

    .feature__single {
        padding: 20px;
    }

    .section__heading h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .about__info ul li p {
        font-size: 12px;
    }

    .service__main {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .pricing__main {
        gap: 10px;
    }

    .pricing__card h4 {
        font-size: 24px;
    }

    .pricing__card p {
        font-size: 12px;
        margin-bottom: 6px;
    }

    .pricing__card {
        padding: 24px;
    }

    .pricing__card h5 span {
        font-size: 48px;
    }

    .pricing__card h5 {
        font-size: 16px;
        margin-top: -14px;
    }

    .pricing__card ul li {
        font-size: 13px;
    }

    .testimonial__wrap {
        display: unset;
        grid-template-columns: unset;
    }

    .testimonial__main {
        width: unset;
    }

    .testimonial__wrap .section__heading {
        max-width: 62%;
    }

    .cta__wrap h2 {
        font-size: 32px;
    }

    .auth__img {
        display: none;
    }

    .auth__area {
        grid-template-columns: 1fr;
    }

    .dashboard__sidebar {
        left: -100%;
        transition: 0.3s;
    }

    .dashboard__sidebar.active {
        left: 10px;
    }

    .sidebar__close {
        display: flex;
    }

    .dashboard__wrap {
        padding-left: 0;
    }

    .sidebar__open {
        display: block;
    }

}

@media screen and (max-width: 767px) {
    .container {
        max-width: 576px;
    }

    .menu__open {
        display: block;
    }

    .header__menu {
        display: none;
    }

    .header__btn {
        display: none;
    }

    .hero__content h1 {
        font-size: 36px;
        margin-bottom: 16px;
    }

    .hero__social {
        max-width: 110px;
        top: -20px;
    }

    .hero__play a {
        width: 55px;
        height: 55px;
        font-size: 16px;
    }

    .hero__area {
        padding-top: 140px;
        min-height: auto;
        padding-bottom: 90px;
    }

    .feature__wrap {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .feature__single:last-child {
        margin-top: -24px;
    }

    .section__heading {
        max-width: 75%;
    }

    .about__wrap {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .about__img img {
        width: 50%;
    }

    .about__img {
        text-align: center;
    }

    .pricing__main {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .contact__sp {
        max-width: 39px;
    }

    .service__sp {
        max-width: 46px;
    }

    .cta__wrap {
        padding-inline: 40px;
    }

    .cta__wrap h2 {
        font-size: 26px;
    }

    .footer__topbar p {
        font-size: 12px;
    }

    .footer__bottombar span {
        font-size: 12px;
    }

    .footer__bottombar {
        border-width: 2px;
    }

    .dashboard__header__right .dashboard__header__subs {
        display: none;
    }


    .dashboard__sidebar .dashboard__header__subs {
        display: flex;
        gap: 10px;
        flex-direction: column;
        margin-bottom: 12px;
    }

    .post__header a {
        font-size: 12px;
    }

    .post__header {
        margin-top: 10px;
        gap: 6px;
    }

    .account__bottombar {
        justify-content: center;
        gap: 12px;
        margin-top: 16px;
        flex-direction: column;
    }

    .account__table {
        overflow-x: auto;
    }

    .account__table table {
        width: 650px;
    }








}

@media screen and (max-width: 575px) {
    .container {
        padding: 0px 20px;
    }

    p {
        font-size: 12px;
    }

    .hero__social {
        display: none;
    }

    .hero__content {
        max-width: 100%;
    }

    .hero__content h1 {
        font-size: 26px;
        margin-bottom: 14px;
    }

    .common__btn {
        font-size: 12px;
    }

    .hero__btn {
        margin-top: 20px;
    }

    .feature__wrap {
        grid-template-columns: repeat(1, 1fr);
    }

    .feature__single:first-child {
        margin-top: 0;
    }

    .feature__single:last-child {
        margin-top: 0;
    }

    .section__heading {
        max-width: 100%;
    }

    .section__heading h2 {
        font-size: 22px;
    }

    .about__img img {
        width: 70%;
    }

    .service__sp {
        display: none;
    }

    .service__main {
        grid-template-columns: repeat(2, 1fr);
    }

    .service__card h4 {
        font-size: 15px;
    }

    .service__card img {
        max-height: 44px;
    }

    .pricing__main {
        grid-template-columns: repeat(1, 1fr);
    }

    .testimonial__wrap .section__heading {
        max-width: 100%;
    }

    .contact__sp {
        display: none;
    }

    .contact__form {
        max-width: 94%;
    }

    .cta__wrap {
        padding-inline: 16px;
    }

    .cta__wrap h2 {
        font-size: 22px;
    }

    .footer__topbar {
        justify-content: center;
    }

    .auth__back a {
        font-size: 14px;
    }

    .auth__title h2 {
        font-size: 28px;
    }

    .auth__form {
        max-width: 100%;
    }

    .auth__social a {
        padding: 10px 14px;
        border-radius: 4px;
        font-size: 12px;
        min-height: 43px;
    }

    .auth__main {
        border-radius: 8px;
        padding: 24px;
    }

    .auth__area {
        padding: 20px;
    }

    .auth__form__wrap {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .post__header {
        grid-template-columns: repeat(2, 1fr);
    }

    .dashboard__logout a {
        border-radius: 4px;
        padding: 8px 12px;
    }

    .dashboard__notifications a {
        width: 26px;
        height: 26px;
        font-size: 16px;
    }

    .dashboard__user span {
        font-size: 12px;
    }

    .dashboard__user img {
        width: 32px;
        height: 32px;
        border-radius: 4px;
    }

    .dashboard {
        padding: 10px;
    }

    .account__wrap {
        margin-top: 10px;
    }
}